<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/admin/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/admin/admin.css">
    <link rel="stylesheet" href="/static/admin/loading.css">
    <title>Admin Panel</title>
</head>

<body>
    <h1>Admin Panel</h1>
    <h3>
        <a class="btn" href="/logout">LOGOUT</a>
        <a class="btn" onclick="init(admin)" href="#">RELOAD</a>
    </h3>
    <table border="2">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Enrolled</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody id="users">
        </tbody>
    </table>

    <dialog id="progress_dialog">
        <div id="user_info">
            <div>
                <label for="name">Name: </label>
                <span id="name"></span>
            </div>
            <div>
                <label for="email">Email: </label>
                <a id="email" target="_blank"></a>
            </div>
        </div>
        <div>
            <table border="2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Progress</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="progress_data">
                </tbody>
            </table>
        </div>
        <div id="close_div">
            <button class="btn">CLOSE</button>
        </div>
    </dialog>

    <div id="overlay"></div>
    <script src="/static/admin/loading.js"></script>
    <script src="/static/admin/admin.js"></script>
    <script>
        async function init(admin) {
            await admin.init()
        }
        const admin = new Admin()
        init(admin)
    </script>
</body>

</html>