<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/admin/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/admin/admin.css">
    <title>Admin Panel</title>
</head>

<body>
    <h1>Admin Panel</h1>
    <h3><a class="logout" href="/logout">LOGOUT</a></h3>
    <table border="2">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody id="users">
            {#% for user in users %}
            <tr>
                <td>{{user["num"]}}</td>
                <td>{{user["user"].f_name}} {{user["user"].l_name}}</td>
                <td>
                    <a href="mailto:{{user["user"].email}}">{{user["user"].email}}</a>
                </td>
                <!-- {{user["done"]}} / {{user["total"]}} -->
                <td><button class="open_progress">OPEN</button></td>
            </tr>
            {% endfor %#}
        </tbody>
    </table>

    <script src="/static/admin/admin.js"></script>
</body>

</html>