<a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
{#% if homepage is defined %#}
<div class="top-bar grid-parent top-bar-align-right" style="text-align: right;">
    <div class="inside-top-bar grid-container grid-parent">
        <aside id="block-9" class="widget inner-padding widget_block">
            <p><a href="/login">My Account <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
        </aside>
    </div>
</div>
{#% endif %#}
<header class="site-header" id="masthead" aria-label="Site" itemtype="https://schema.org/WPHeader" itemscope="">
    <div class="inside-header">
        <div class="site-logo">
            <a href="/" rel="home">
                <img style="width: 100px" class="header-image is-logo-image entered lazyloaded" alt="Healthcare CPD" src="/static/home_files/CPD-Online-College-logo.png" data-ll-status="loaded" width="100">
                <div style="color: white;">
                    <h1 class="title" style="color: white;">Healthcare CPD</h1>
                    ALWAYS LEARNING
                </div>
            </a>
        </div>
    </div>
</header>
<nav class="wc-menu-cart-activated main-navigation sub-menu-right" id="site-navigation" aria-label="Primary" itemtype="https://schema.org/SiteNavigationElement" itemscope="">
    <div class="inside-navigation grid-container grid-parent">
        <!-- <div class="mobile-bar-items wc-mobile-cart-items">
				<a href="#cart" class="fa fa-shopping-cart" title="View your shopping cart"><span class="number-of-items no-items">0</span><span class="amount"></span></a>		<div id="wc-mini-cart" class="wc-mini-cart" aria-hidden="true">
			<div class="inside-wc-mini-cart">
				<div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>			</div>
		</div>
		</div> -->
        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
            <span class="mobile-menu">Menu</span> </button>
        <div id="primary-menu" class="main-nav">
            <ul id="menu-main-menu" class=" menu sf-menu">
                <li id="menu-item-12105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12105"><a href="/info/6">Care</a></li>
                <li id="menu-item-26562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26562"><a href="/info/5">Food Hygiene</a></li>
                <li id="menu-item-26563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26563"><a href="/info/mental-info">Mental Health</a></li>
                <li id="menu-item-39453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39452"><a href="/info/1">Fire Safety</a></li>
                <li id="menu-item-39454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39452"><a href="/info/2">Electrical Safety</a></li>
                <li id="menu-item-39455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39452"><a href="/info/3">Welding Basics</a></li>
                <li id="menu-item-39456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39452"><a href="/info/4">Protective Equipment</a></li>

                <!-- <li class="wc-menu-item menu-item-align-right  ">
				<a href="#cart" class="fa fa-shopping-cart" title="View your shopping cart"><span class="number-of-items no-items">0</span><span class="amount"></span></a>		<div id="wc-mini-cart" class="wc-mini-cart" aria-hidden="true">
			<div class="inside-wc-mini-cart">
				<div class="widget woocommerce widget_shopping_cart"><div class="widget_shopping_cart_content"></div></div>			</div>
		</div>
	
			</li> -->
            </ul>
        </div>
    </div>
</nav>