# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/autouttl/healthcarecpd.org"
PassengerBaseURI "/"
PassengerPython "/home/autouttl/virtualenv/healthcarecpd.org/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
