{% extends "course_info_layout.html" %}

{% block content %}
<div class="site grid-container container hfeed grid-parent" id="page">
    <div class="site-content" id="content">
        <div class="content-area grid-parent mobile-grid-100 push-25 grid-75 tablet-push-25 tablet-grid-75" id="primary">
            <main class="site-main" id="main">
                <article class="post-9435 product type-product status-publish" id="post-7" itemtype="https://schema.org/CreativeWork" itemscope="">
                    <div class="inside-article">
                        <div class="entry-content" itemprop="text">
                            <nav class="woocommerce-breadcrumb" aria-label="Breadcrumb">Home&nbsp;/&nbsp;Agriculture&nbsp;/&nbsp;Farm Management and Maintenance</nav>
                            <div class="woocommerce-notices-wrapper"></div>
                            <div id="product-7" class="product">
                                <div class="woo-product-gallery-slider images">
                                    <img src="../static/pictures/farmManagerment.jpeg"
                                    style="width: 100%; height: 320px; object-fit: cover; object-position: left;" class="attachment-shop_single" alt="Farm Management and Maintenance" />
                                </div>
                                <div class="summary entry-summary">
                                    <h1 class="product_title entry-title">Farm Management and Maintenance</h1>
                                    <p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>{{price}}</bdi></span></p>
                                    <div class="woocommerce-product-details__short-description">
                                        <p>Acquire the right agricultural and farming skills required to manage a sustainable farm successfully and learn how to manage crops, livestock, equipment and more.</p>
                                    </div>
                                    <div class="cart">
                                        <button type="submit" class="single_add_to_cart_button button alt" {{disabled}}>Checkout</button>
                                    </div>
                                </div>
                                <section class="elegant-tabs-container">
                                    <div class="et-content-wrap">
                                        <section class="content-current" id="tab-description" style="background:#f2f2f2; color:#383838;">
                                            <div class="infi-content-wrapper">
                                                <h2>Product Description</h2>
                                                <p>This course shows you how to be prepared to face the challenges of modern agriculture and to perform all farm duties with confidence. We explore the fundamentals of farming and farm management. The course covers various topics: introduction to farming management, crop management, livestock management, harvesting, planting, sustainable agriculture practices, farm equipment operations and maintenance.</p>
                                                <p>You will earn 15 CPD points on completion of the course, this course will take around 1.5-3 hours to complete and the certificate will last for two years.</p>
                                                <p><strong><span style="color: #B8860B; font-size: x-large;">What You'll Learn</span></strong></p>
                                                <ul class="fa-ul course-points-list">
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Summarise farm management with all its elements in detail</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Analyse and enhance overall farm productivity</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Recognise the factors influencing crop selection and planning</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Discuss emerging trends in livestock management</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Identify illnesses and health concerns that can impact crops and livestock</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Explain how to keep financial records and analyse financial data on farms</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Identify different types of agroforestry practices and their applications</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Describe the safety regulations and hazards associated with farm equipment</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Match farm equipment with farming needs and conditions</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>List financial and management indicators of a farm business</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Explain the importance of conservation and natural resource management for sustainable agriculture</li>
                                                    <li><i class="fa-li fa fa-check-circle" aria-hidden="true"></i>Create and implement effective business plans for a farming enterprise</li>
                                                </ul>
                                                <p><strong><span style="color: #B8860B; font-size: x-large;">Units Covered</span></strong></p>
                                                <ul class="fa-ul coursebullets">
                                                    <li><i class="fa-li fa fa-chevron-right" aria-hidden="true"></i><strong>Unit 1 &ndash; Fundamentals of Farm Management:</strong>&nbsp;Takes you into the core practices of farming, from caring for crops and livestock through to sustainable practices, equipment types, modern tech integration, farm financial planning and business management.</li>
                                                    <li><i class="fa-li fa fa-chevron-right" aria-hidden="true"></i><strong>Unit 2 &ndash; Course assessment:</strong>&nbsp;A final multiple choice assessment covering everything from Unit 1.</li>
                                                </ul>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </div>
        {% include "course_data/info-sidebar.html" %}
    </div>
</div>
{% endblock %}
