/* Creating footer HTML for alison courses */
html, body {
    height: 100%;
}
#custom_footer {
    text-align: center;
    font-size: 1em;
    padding: 20px !important;
    color: white;
    background-color: #094b77;
}