<section id="header-outer" class="header__outer ">
            <header class="loggedin" data-id="36383682">
                <script>
                    sale_id = "0";
                </script>
                <script>
                    const days_label = [
                        'Sunday',
                        'Monday',
                        'Tuesday',
                        'Wednesday',
                        'Thursday',
                        'Friday',
                        'Saturday'
                    ];
                    let bought,
                        ls_item = localStorage.getItem('popup_banner_' + sale_id + '_closed_at'),
                        banner_type = document.getElementById('announcement') ? 'announcement' : 'sale',
                        s_banner = document.getElementById(banner_type),
                        body = document.querySelector('body'),
                        popup_active = false,
                        le_timer;
                    function openBanner() {
                        if (document.getElementById(banner_type) !== null) {
                            document.getElementById(banner_type).style.opacity = 1;
                        }
                        if (! popup_active) {
                            document.querySelector('body').className += ' sale-active' + (
                            banner_type === 'announcement' ? ' announcement-active' : ''
                        );
                        }
                    }
                    function activatePopup() {
                        if (!localStorage.getItem('popup_' + sale_id + '_logged_out')) {
                            showPopup();
                        }
                    }
                    function showPopup() {
                        $('.pop__overlay, .sale-pop').show();
                        if ($(window).width() < 769) {
                            if ($('.pop__overlay').length > 0) {
                                popup_active = true;
                                s_banner.parentNode.removeChild(s_banner);
                                $('header').removeClass('sale-active', 'announcement-active');
                                $('body').removeClass('sale-active');
                            }
                        }
                    }
                    function LETImer() {
                        let interval = 300000;
                        if (!localStorage.endTime) {
                            localStorage.endTime = + new Date + interval;
                        }
                        le_timer = setInterval(function () {
                            let remaining = localStorage.endTime - new Date;
                            if (remaining < 0) {
                                showPopup();
                            }
                        }, 100);
                    }
                    if (bought === null) {
                        if (ls_item) {
                            let targetStorage = $('.loggedin').length > 0 ? 'popup_banner_' + sale_id + '_closed_at' : 'popup_' + sale_id + '_logged_out',
                                storageDate = parseInt(targetStorage),
                                date = new Date(storageDate * 1000),
                                today = new Date();
                            if ((days_label[date.getDay()] === 'Thursday' && days_label[today.getDay()] === 'Friday') || (days_label[date.getDay()] !== 'Friday' && Math.floor(((Date.now() / 1000) - storageDate) / (3600 * 24)) >= 3)) {
                                localStorage.removeItem('popup_banner_' + sale_id + '_closed_at');
                                localStorage.removeItem('popup_' + sale_id + '_logged_out');
                                activatePopup();
                            } else {
                                $('.pop__overlay, .sale-pop').remove();
                            }
                        } else {
                            activatePopup();
                        }
                    }
                    if (typeof localStorage !== 'undefined') {
                        let header_simple = document.getElementById('header-simple');
                        if (header_simple && banner_type === 'sale') {
                            s_banner.className += ' sale-banner-shop';
                        }
                        if (localStorage.getItem(banner_type + '_banner_' + sale_id + '_closed_at') && ! header_simple) {
                            let storageDate = parseInt(localStorage.getItem(banner_type + '_banner_' + sale_id + '_closed_at'));
                            if (Math.floor(((Date.now() / 1000) - storageDate) / (3600 * 24)) >= 3) {
                                openBanner();
                            } else {
                                s_banner.parentNode.removeChild(s_banner);
                                document.querySelector('header').classList.remove('sale-active', 'announcement-active');
                                document.querySelector('body').classList.remove('sale-active');
                            }
                        } else {
                            openBanner();
                        }
                    }
                </script>
                <div class="header">
                    <div class="header__search">
                        <div class="for-mobile header__search-nav" style="display:none;">
                            <span class="icon-nb-menu"></span>
                            <span class="icon-search"></span>
                            <div class="lms-b lms-b--nr">
                                <div id="lms-b--nr" class="lms-b__button lms-b__button--nr">LMS</div>
                                <div class="lms-b__menu lms-b__menu--nr" style="display: none">
                                    <div class="lms-b__inner lms-b__inner--nr">
                                        <div class="flms-banner-img"><img class="lazyload" data-src="https://cdn01.alison-static.net/public/html/site/img/free-lms/flms-header-banner.svg" alt="Free LMS Programme"></div>
                                        <div class="flms-copy">
                                            <p>Do you represent a business or organization that would like to train and
                                                                                            upskill their employees?</p>
                                            <p>If yes, check out Alison’s Free Learning Management System here!</p>
                                            <div class="flms-but">
                                                <a href="https://alison.com/free-lms-programme" class="btn-flms btn-flms--green">Yes</a>
                                                <a href="#0" class="btn-flms btn-flms--blank">Not For Me</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="https://alison.com/" id="alison_logo" class="logo"><img width="117" height="40" src="/static/course/{{files}}/alison-free-courses.svg" alt="Free Online Courses, Classes and Tutorials"></a>
                        <div class="header__search-input">
                            <div class="search-container ">
                                <form method="GET" action="https://alison.com/courses" accept-charset="UTF-8" id="header-search-form"><input maxlength="200" autocomplete="off" placeholder="What do you want to learn?" class="autocomplete_field" id="autocomplete" name="query" type="text"><button type="button" id="search_icon" class="btn btn-warning btn-fla">
                                        <span class="icon-search" style="pointer-events: none;"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="header__nav nav">
                        <div class="for-desktop">
                            <div class="nav__item nav__item--b nav__item--dd nav__item--hover">
                                <a href="#" data-type="categories" class="load-dropdown" title="Explore Courses">
                                    Explore Courses
                                    <span class="icon-vertical-dropdown-icon"></span>
                                </a>
                                <div class="nav__dd nav__dd--cats nav__dd--cols" style="display: none">
                                    <a href="https://alison.com/diploma-courses" title="Earn a Diploma">
                                        header.all_diploma_courses
                                    </a>
                                    <a href="https://alison.com/certificate-courses" title="Certificates">
                                        <h5>header.all_certificate_courses</h5>
                                    </a>
                                    <a data-code="it" data-id="1" data-slug="it" data-name="IT" href="https://alison.com/courses/it" title="IT Courses">
                                        <h5>IT</h5>
                                        <span class="course-amount">(1,008 Courses)</span>
                                    </a>
                                    <a data-code="health" data-id="31" data-slug="health" data-name="Health" href="https://alison.com/courses/health" title="Health Courses">
                                        <h5>Health</h5>
                                        <span class="course-amount">(767 Courses)</span>
                                    </a>
                                    <a data-code="language" data-id="15" data-slug="language" data-name="Language" href="https://alison.com/courses/language" title="Language Courses">
                                        <h5>Language</h5>
                                        <span class="course-amount">(290 Courses)</span>
                                    </a>
                                    <a data-code="business" data-id="51" data-slug="business" data-name="Business" href="https://alison.com/courses/business" title="Business Courses">
                                        <h5>Business</h5>
                                        <span class="course-amount">(1,429 Courses)</span>
                                    </a>
                                    <a data-code="management" data-id="109" data-slug="management" data-name="Management" href="https://alison.com/courses/management" title="Management Courses">
                                        <h5>Management</h5>
                                        <span class="course-amount">(849 Courses)</span>
                                    </a>
                                    <a data-code="personal-development" data-id="45" data-slug="personal-development" data-name="Personal Development" href="https://alison.com/courses/personal-development" title="Personal Development Courses">
                                        <h5>Personal Development</h5>
                                        <span class="course-amount">(1,166 Courses)</span>
                                    </a>
                                    <a data-code="marketing" data-id="79" data-slug="marketing" data-name="Sales &amp; Marketing" href="https://alison.com/courses/marketing" title="Sales &amp; Marketing Courses">
                                        <h5>Sales &amp; Marketing</h5>
                                        <span class="course-amount">(343 Courses)</span>
                                    </a>
                                    <a data-code="engineering" data-id="99" data-slug="engineering" data-name="Engineering &amp; Construction" href="https://alison.com/courses/engineering" title="Engineering &amp; Construction Courses">
                                        <h5>Engineering &amp; Construction</h5>
                                        <span class="course-amount">(730
                                                                                    Courses)</span>
                                    </a>
                                    <a data-code="education" data-id="41" data-slug="education" data-name="Teaching &amp; Academics" href="https://alison.com/courses/education" title="Teaching &amp; Academics Courses">
                                        <h5>Teaching &amp; Academics</h5>
                                        <span class="course-amount">(1,331 Courses)</span>
                                    </a>
                                </div>
                            </div>
                            <span class="nav__item claim-your-certs">
                                <a href="https://alison.com/shop" title="Claim Your Certificates">
                                    Claim Your Certificates
                                </a>
                            </span>
                            <div class="nav__item nav__item--b nav__item--dd nav__item--hover">
                                <a href="#" data-type="careers" class="load-dropdown" title="Discover Careers">
                                    Discover Careers
                                    <span class="icon-vertical-dropdown-icon"></span>
                                </a>
                                <div class="nav__dd nav__dd--career nav__dd--cols" style="display: none">
                                    <a data-slug="health" data-img="health.svg" href="https://alison.com/careers/health" title="Health Science Careers">
                                        Health Science
                                        <br><span class="course-amount">(149
                                                                                    Careers)</span>
                                    </a>
                                    <a data-slug="finance" data-img="finance.svg" href="https://alison.com/careers/finance" title="Finance Careers">
                                        Finance
                                        <br><span class="course-amount">(57 Careers)</span>
                                    </a>
                                    <a data-slug="it" data-img="it.svg" href="https://alison.com/careers/it" title="Information Technology Careers">
                                        Information Technology
                                        <br><span class="course-amount">(49 Careers)</span>
                                    </a>
                                    <a data-slug="education" data-img="education.svg" href="https://alison.com/careers/education" title="Education and Training Careers">
                                        Education and Training
                                        <br><span class="course-amount">(57 Careers)</span>
                                    </a>
                                    <a data-slug="management" data-img="management.svg" href="https://alison.com/careers/management" title="Business Management and Administration Careers">
                                        Business Management and
                                                                            Administration
                                        <br><span class="course-amount">(59 Careers)</span>
                                    </a>
                                    <a data-slug="marketing" data-img="marketing.svg" href="https://alison.com/careers/marketing" title="Marketing, Sales, and Service Careers">
                                        Marketing, Sales, and Service
                                        <br><span class="course-amount">(50 Careers)</span>
                                    </a>
                                    <a data-slug="agriculture-food-and-natural-resources" data-img="agriculture-food-and-natural-resources.svg" href="https://alison.com/careers/agriculture-food-and-natural-resources" title="Agriculture, Food, and Natural Resources Careers">
                                        Agriculture, Food, and
                                                                            Natural Resources
                                        <br><span class="course-amount">(52 Careers)</span>
                                    </a>
                                    <a data-slug="hospitality" data-img="hospitality.svg" href="https://alison.com/careers/hospitality" title="Hospitality and Tourism Careers">
                                        Hospitality and Tourism
                                        <br><span class="course-amount">(22 Careers)</span>
                                    </a>
                                    <a data-slug="stem" data-img="stem.svg" href="https://alison.com/careers/stem" title="Science, Technology, Engineering, and Mathematics Careers">
                                        Science,
                                                                            Technology, Engineering, and Mathematics
                                        <br><span class="course-amount">(114
                                                                                    Careers)</span>
                                    </a>
                                    <a data-slug="architecture" data-img="architecture.svg" href="https://alison.com/careers/architecture" title="Architecture and Construction Careers">
                                        Architecture and Construction
                                        <br><span class="course-amount">(37 Careers)</span>
                                    </a>
                                    <a data-slug="government" data-img="government.svg" href="https://alison.com/careers/government" title="Government and Public Administration Careers">
                                        Government and Public
                                                                            Administration
                                        <br><span class="course-amount">(16 Careers)</span>
                                    </a>
                                    <a data-slug="security" data-img="security.svg" href="https://alison.com/careers/security" title="Law, Public Safety, Corrections, and Security Careers">
                                        Law, Public Safety,
                                                                            Corrections, and Security
                                        <br><span class="course-amount">(76 Careers)</span>
                                    </a>
                                    <a data-slug="manufacturing" data-img="manufacturing.svg" href="https://alison.com/careers/manufacturing" title="Manufacturing Careers">
                                        Manufacturing
                                        <br><span class="course-amount">(12 Careers)</span>
                                    </a>
                                    <a data-slug="distribution" data-img="distribution.svg" href="https://alison.com/careers/distribution" title="Transportation, Distribution, and Logistics Careers">
                                        Transportation,
                                                                            Distribution, and Logistics
                                        <br><span class="course-amount">(37
                                                                                    Careers)</span>
                                    </a>
                                    <a data-slug="human-services" data-img="human-services.svg" href="https://alison.com/careers/human-services" title="Human Services Careers">
                                        Human Services
                                        <br><span class="course-amount">(72 Careers)</span>
                                    </a>
                                    <a data-slug="arts" data-img="arts.svg" href="https://alison.com/careers/arts" title="Arts, Audio/Video Technology, and Communications Careers">
                                        Arts, Audio/Video
                                                                            Technology, and Communications
                                        <br><span class="course-amount">(126
                                                                                    Careers)</span>
                                    </a>
                                </div>
                            </div>
                            <div class="nav__item nav__item--dd nav__item--hover">
                                <a href="#" class="load-dropdown" data-type="more" title="More">More
                                    <span class="icon-vertical-dropdown-icon"></span>
                                </a>
                            </div>
                            <div class="nav__section">
                                <div class="lms-b lms-b--nr">
                                    <div id="lms-b--nr" class="lms-b__button lms-b__button--nr">LMS</div>
                                    <div class="lms-b__menu lms-b__menu--nr" style="display: none">
                                        <div class="lms-b__inner lms-b__inner--nr">
                                            <div class="flms-banner-img"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/free-lms/flms-header-banner.svg" alt="Free LMS Programme" src="/static/course/{{files}}/flms-header-banner.svg">
                                            </div>
                                            <div class="flms-copy">
                                                <p>Do you represent a business or organization that would like to train and
                                                                                                    upskill their employees?</p>
                                                <p>If yes, check out Alison’s Free Learning Management System here!</p>
                                                <div class="flms-but">
                                                    <a href="https://alison.com/free-lms-programme" class="btn-flms btn-flms--green">Yes</a>
                                                    <a href="#0" class="btn-flms btn-flms--blank">Not For Me</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="q-aff">
                                    <span class="coin">
                                        <span class="front"></span>
                                        <span class="back"></span>
                                    </span>
                                    <div class="aff">
                                        <div class="aff__message aff__message--not-affiliate" style="display:none;">
                                            <span class="icon-cross2 aff__close"></span><img class="lazyload" data-src="/html/site/img/affiliates/not-affiliate.svg">
                                            <div class="aff__text">
                                                <p>
                                                    Become an Alison Affiliate in one click, and start earning money by
                                                                                                    sharing any page on the Alison website.
                                                </p>
                                                <a class="aff__btn" href="https://alison.com/affiliates/learn-to-earn">Become an
                                                                                                    Affiliate</a>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="for-mobile" style="display: none">
                            <span class="nav__item nav__item--dd nav__item--user-menu"></span>
                        </div>
                    </div>
                    <div class="head__u head__u--in nav">
                        <span class="q-aff">
                            <span class="coin">
                                <span class="front"></span>
                                <span class="back"></span>
                            </span>
                            <div class="aff">
                                <div class="aff__message aff__message--not-affiliate" style="display:none;">
                                    <span class="icon-cross2 aff__close"></span><img class="lazyload" data-src="/html/site/img/affiliates/not-affiliate.svg">
                                    <div class="aff__text">
                                        <p>
                                            Become an Alison Affiliate in one click, and start earning money by sharing any
                                                                                    page on the Alison website.
                                        </p>
                                        <a class="aff__btn" href="https://alison.com/affiliates/learn-to-earn">Become an Affiliate</a>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <span class="nav__item nav__item--continue_learning">
                            <a href="https://alison.com/resume/courses" title="Continue Learning" class="header__continue">
                                <span class="icon-start-topic"></span>
                                Continue Learning
                            </a>
                        </span>
                        <span class="nav__item nav__item--dd nav__item--user-menu user-img">
                            <span class="head__u-avatar activate-dropdown"><img id="head__u-avatar" class=" ls-is-cached lazyloaded" data-src="https://alison.com/images/users/default/36383682.jpg" alt="Shail Mahan" src="/static/course/{{files}}/36383682.png"></span>
                            <div class="nav__dd nav__dd--user-menu nav__dd--l-scroll" style="display: none">
                                <div class="nav__dd-inner">
                                    <ul>
                                        <li class="head__u-info">
                                            <span class="head__u-avatar"><img class=" ls-is-cached lazyloaded" data-src="https://alison.com/images/users/default/36383682.jpg" alt="Shail Mahan" src="/static/course/{{files}}/36383682.png"></span>
                                            <span>
                                                <div class="head__u-name">Shail Mahan</div>
                                                <a class="new-profile-link" href="https://alison.com/profile/36383682/edit" title="Your Alison Profile">
                                                    Finish Your Profile
                                                    <span></span>
                                                </a>
                                                <div class="remaining">100% Remaining</div>
                                            </span>
                                        </li>
                                        <li class="for-mobile">
                                            <span class="nav__item">
                                                <a href="https://alison.com/resume/courses" title="Resume Study" class="header__continue">
                                                    <span class="icon-start-topic"></span>
                                                    Continue
                                                                                                    Learning
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="https://alison.com/dashboard" title="Your Dashboard">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/dashboard.svg" src="/static/course/{{files}}/dashboard.svg"></span>
                                                Your Dashboard
                                            </a>
                                        </li>
                                        <li class="get-your-cert">
                                            <a href="https://alison.com/shop">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/your-certificates.svg" src="/static/course/{{files}}/your-certificates.svg"></span>
                                                <span>
                                                    Claim Your Certificates
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="for-you" href="https://alison.com/user/recommendations">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/heart.svg" src="/static/course/{{files}}/heart.svg"></span>
                                                Recommended For You
                                            </a>
                                        </li>
                                        <li>
                                            <a class="new-resume-link x-cv resume__link" href="https://alison.com/cv?source=dropdown-nav-bar">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/your-resume.svg" src="/static/course/{{files}}/your-resume.svg"></span>
                                                <span class="x-cv-text">
                                                    Create Resumé/CV
                                                </span>
                                                <span></span>
                                            </a>
                                        </li>
                                        <li class="nav__border">
                                            <hr><span class="nav__dd-level-2 block">
                                                <div class="activate-subnav activate-subnav--lang">
                                                    <span><img class=" lazyloaded" data-src="/html/site/img/header/language.svg" src="/static/course/{{files}}/language.svg"></span>
                                                    <span class="label-position">
                                                        Change Language
                                                    </span>
                                                    <span class="icon-thick-chevron-up"></span>
                                                </div>
                                                <span class="nav__item nav__item--dd nav__item--slide nav__item--languages ">
                                                    <span class="language-icon"><img src="/static/course/{{files}}/world.svg" class="lazyload"><span class="language">
                                                            en
                                                        </span>
                                                    </span>
                                                    <div class="nav__dd nav__dd--slide nav__dd--languages">
                                                        <ul>
                                                            <li class="border-bottom extra-padding subnav-back">
                                                                <span class="icon-arrow-thin-right"></span>
                                                                Change Language
                                                            </li>
                                                            <li class="selected">
                                                                <a rel="alternate" hreflang="en" href="https://alison.com/course/health-and-safety-fire-safety-training-and-planning">
                                                                    <span><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/header/en.svg" alt="English Language Select" src="/static/course/{{files}}/en.svg"></span>
                                                                    English
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a rel="alternate" hreflang="es" href="https://alison.com/es/curso/salud-y-seguridad-formacion-y-planificacion-de-seguridad-contra-incendios">
                                                                    <span><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/header/es.svg" alt="Spanish Language Select" src="/static/course/{{files}}/es.svg"></span>
                                                                    Spanish
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a rel="alternate" hreflang="fr" href="https://alison.com/fr/cours/sante-et-securite-formation-et-planification-en-matiere-de-securite-incendie">
                                                                    <span><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/header/fr.svg" alt="French Language Select" src="/static/course/{{files}}/fr.svg"></span>
                                                                    French
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a rel="alternate" hreflang="it" href="https://alison.com/it/corso/salute-e-sicurezza-fire-safety-training-and-planning">
                                                                    <span><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/header/it.svg" alt="Italian Language Select" src="/static/course/{{files}}/it.svg"></span>
                                                                    Italian
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a rel="alternate" hreflang="pt-BR" href="https://alison.com/pt-BR/claro/saude-e-seguranca-formacao-e-planejamento-de-seguranca-do-fogo">
                                                                    <span><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/header/pt-BR.svg" alt="Brazilian Portuguese Language Select" src="/static/course/{{files}}/pt-BR.svg"></span>
                                                                    Brazilian Portuguese
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </span>
                                            <hr>
                                        </li>
                                        <li>
                                            <a href="https://alison.com/settings">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/settings.svg" src="/static/course/{{files}}/settings.svg"></span>
                                                Account Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://alison.com/faqs">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/help.svg" src="/static/course/{{files}}/help.svg"></span>
                                                Help
                                            </a>
                                        </li>
                                        <li>
                                            <a class="site-logout" href="https://alison.com/logout">
                                                <span><img class=" lazyloaded" data-src="/html/site/img/header/logout.svg" src="/static/course/{{files}}/logout.svg"></span>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </header>
            <div class="body-padding "></div>
            <div class="darken" style="display: none"></div>
        </section>