<footer class="main tpv2">
    <div class="main-bg">
        <div class="ft-wrap">
            <div class="col col-1 col-a">
                <div class="col-inner">
                    <div class="ft-column">
                        <div class="ft-column-inner">
                            <div class="footer_h3">FREE ONLINE COURSE CATEGORIES</div>
                            <ul>
                                <li><a href="https://alison.com/courses/it" title=" IT Courses">IT</a></li>
                                <li><a href="https://alison.com/courses/health" title=" Health Courses">Health</a></li>
                                <li><a href="https://alison.com/courses/language" title=" Language Courses">Language</a></li>
                                <li><a href="https://alison.com/courses/business" title=" Business Courses">Business</a></li>
                                <li><a href="https://alison.com/courses/management" title=" Management Courses">Management</a></li>
                                <li><a href="https://alison.com/courses/personal-development" title=" Personal Development Courses">Personal Development</a></li>
                                <li><a href="https://alison.com/courses/marketing" title=" Sales &amp; Marketing Courses">Sales &amp; Marketing</a></li>
                                <li><a href="https://alison.com/courses/engineering" title=" Engineering &amp; Construction Courses">Engineering &amp;
                                                                                                                            Construction</a></li>
                                <li><a href="https://alison.com/courses/education" title=" Teaching &amp; Academics Courses">Teaching &amp; Academics</a></li>
                                <li><a href="https://alison.com/tag/english-language">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-1 col-b">
                <div class="col-inner">
                    <div class="ft-column">
                        <div class="ft-column-inner">
                            <div class="footer_h3">LEARN ABOUT ALISON</div>
                            <ul>
                                <li><a href="https://alison.com/about/learning-on-alison">Learning on Alison</a></li>
                                <li><a href="https://alison.com/about/about-alison-courses">About Alison Courses</a></li>
                                <li><a href="https://alison.com/about/our-story">Our Story</a></li>
                                <li><a href="https://alison.com/about/board-of-directors">Board of Directors</a></li>
                                <li><a href="https://alison.com/programmes">Alison Programmes</a></li>
                                <li><a href="https://alison.com/course-creators">Our Course Creators</a></li>
                                <li><a href="https://alison.com/empower-us">Empower Alison</a></li>
                                <li><a href="https://alison.com/index">Index</a></li>
                                <li><a href="https://alison.com/about/careers">Open Positions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-1 col-c">
                <div class="col-inner">
                    <div class="ft-column">
                        <div class="ft-column-inner">
                            <div class="footer_h3">QUALITY FREE LEARNING</div>
                            <ul>
                                <li><a href="https://alison.com/certificate-courses">All Certificates</a></li>
                                <li><a href="https://alison.com/diploma-courses">All Diplomas</a></li>
                                <li><a href="https://alison.com/hubs">Hubs</a></li>
                                <li><a href="https://alison.com/about/accreditation">Accreditation</a></li>
                                <li><a href="https://alison.com/graduate-outcomes">Graduate Outcomes</a></li>
                                <li><a href="https://alison.com/testimonials">Alison Testimonials</a></li>
                                <li><a title="Coronavirus Emergency - Free Course" href="https://alison.com/coronavirus">COVID19 Emergency Courses</a></li>
                                <li><a href="https://alison.com/about/gopremium">Premium Learning</a></li>
                                <li><a href="https://alison.com/shop">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-1 col-d">
                <div class="col-inner">
                    <div class="ft-column">
                        <div class="ft-column-inner">
                            <div class="footer_h3">DISCOVER MORE</div>
                            <ul>
                                <li><a href="https://alison.com/mobile/online-learning-app">Get the App</a></li>
                                <li><a href="https://alison.com/careers">Discover Careers</a></li>
                                <li><a href="https://alison.com/profile">Alison Profile</a></li>
                                <li><a href="https://alison.com/cv?source=profile">Build Your Resumé</a></li>
                                <li><a href="https://alison.com/psychometric-test/personality">Free Personality
                                                                                                                            Test</a></li>
                                <li><a href="https://alison.com/psychometric-test/wellbeing">Free Well-being Check
                                                                                                                            up</a></li>
                                <li><a href="https://alison.com/free-lms-programme">Alison for Business</a></li>
                                <li><a href="https://alison.com/e-learning-africa">eLearning Africa</a></li>
                                <li><a href="https://alison.com/media-centre">News &amp; Press</a></li>
                                <li><a href="https://alison.com/blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-1 col-e">
                <div class="col-inner">
                    <div class="ft-column">
                        <div class="ft-column-inner">
                            <div class="footer_h3">EARN ON ALISON</div>
                            <ul>
                                <li><a href="https://alison.com/publish">Create Courses on Alison</a></li>
                                <li><a href="https://alison.com/affiliates/learn-to-earn">Affiliate Programme</a></li>
                                <li><a href="https://alison.com/referrals-programme/about">Refer a Friend</a></li>
                                <li><a href="https://alison.com/webinars">Upcoming Webinars</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="scroll-to-top">
                <i class="icon-thick-chevron-up"></i>
            </a>
        </div>
        <hr class="ft-hr">
        <div class="ft-b-wrap" style="max-width: 100%;">
            <div class="ft-b-wrap-col-1">
                <div class="row-1">
                    <div class="logo-wrapper"><img width="141" height="48" class="alison-logo lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/footer--alison-logo.png" src="/static/course/module_files/footer--alison-logo.webp">
                    </div>
                    <ul>
                        <li class=" lazyloaded" data-bg="https://cdn01.alison-static.net/public/html/site/img/social/faqs.svg" style="background-image: url(&quot;https://cdn01.alison-static.net/public/html/site/img/social/faqs.svg&quot;);">
                            <a href="https://alison.com/faqs">FAQs</a>
                        </li>
                        <li class=" lazyloaded" data-bg="https://cdn01.alison-static.net/public/html/site/img/social/faqs.svg" style="background-image: url(&quot;https://cdn01.alison-static.net/public/html/site/img/social/faqs.svg&quot;);">
                            <a href="https://alison.com/contact-us">Customer Support</a>
                        </li>
                    </ul>
                </div>
                <div class="row-2">
                    <ul>
                        <li><a href="https://www.facebook.com/AlisonCourses" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/facebook.svg" src="/static/course/module_files/facebook.svg"></a></li>
                        <li><a href="https://twitter.com/Alison_Learning" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/twitter.svg" src="/static/course/module_files/twitter.svg"></a></li>
                        <li><a href="https://www.linkedin.com/company/alison-learning" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/linkedin.svg" src="/static/course/module_files/linkedin.svg"></a></li>
                        <li><a href="https://www.instagram.com/alisonlearning/" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/instagram.svg" src="/static/course/module_files/instagram.svg"></a></li>
                        <li><a href="https://www.tiktok.com/@alisonlearning" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/tiktok.svg" src="/static/course/module_files/tiktok.svg"></a></li>
                        <li><a href="https://www.youtube.com/channel/UC-xeBVl9gN_sQTVhDVSgL6g" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/youtube.svg" src="/static/course/module_files/youtube.svg"></a></li>
                        <li><a href="https://alison.quora.com/" target="_blank" rel="nofollow"><img class=" lazyloaded" data-src="https://cdn01.alison-static.net/public/html/site/img/social/quora.svg" src="/static/course/module_files/quora.svg"></a></li>
                    </ul>
                </div>
            </div>
            <div class="ft-b-wrap-col-2">
                <hr class="ft-hr ft-hr--bottom">
                <div class="row-3 trustpilot"><img class=" ls-is-cached lazyloaded" width="367" height="24" data-srcset="https://cdn01.alison-static.net/public/html/site/img/homepage/stats-trustpilot__en.png, https://cdn01.alison-static.net/public/html/site/img/homepage/stats-trustpilot@2x__en.png 2x" data-src="https://cdn01.alison-static.net/public/html/site/img/homepage/stats-trustpilot__en.png" title="Rate us on Trustpilot" alt="Rating on Trustpilot" srcset="/static/course/module_files/stats-trustpilot__en.webp 1x, An%20Introduction%20to%20Fire%20Safety%20and%20Prevention%20Free%20Course%20Alison_files/stats-trustpilot@2x__en.webp 2x" src="/static/course/module_files/stats-trustpilot__en.webp">
                </div>
                <div class="row-4 apps">
                    <a href="https://apps.apple.com/app/apple-store/id1558468968?pt=118422314&amp;ct=portal_app_page&amp;mt=8" target="_blank"><img class=" lazyloaded" width="156" height="48" data-src="https://cdn01.alison-static.net/public/html/site/img/footer-desktop-appstore.svg" alt="Download on the App Store" title="Download the Alison app on iPhone" src="/static/course/module_files/footer-desktop-appstore.svg"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.alison.mobile.flutter" target="_blank"><img class=" lazyloaded" width="156" height="48" data-src="https://cdn01.alison-static.net/public/html/site/img/footer-desktop-playstore.svg" alt="Download on Google Play" title="Download the Alison app on Android" src="/static/course/module_files/footer-desktop-playstore.svg"></a>
                </div>
                <div class="clearfix"></div>
                <div class="row-5 policies">
                    <ul class="policies-list">
                        <li class="icon-rights">
                            <span>© Alison 2024</span>
                        </li>
                        <li class="icon-rights">
                            <a href="https://alison.com/about/terms-of-use?privacy-policy" title="Alison Privacy Policy">Privacy</a>
                        </li>
                        <li class="icon-rights">
                            <a href="https://alison.com/about/terms-of-use" title="Alison Terms and conditions">Terms</a>
                        </li>
                        <li class="icon-rights">
                            <a class="cancel-scroll" href="https://alison.com/about/terms-of-use?privacy-policy#alison_cookie_policy" title="Alison Cookie Policy">Cookie Policy</a>
                        </li>
                        <li class="icon-rights">
                            <a href="https://alison.com/sitemap" title="Alison Sitemap">Sitemap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
