<!-- How It Works section for every course info page -->
<div class="infi-responsive-tabs" data-tab_style="underline" data-active-bg="#4a97cc" data-active-text="#ffffff">
    <div class="infi-tab-accordion">
        <div class="how-it-works_tab infi_accordion_item" style="background: #094b77; color: #ffffff">
            <div class="infi-accordion-item-heading" data-href="#tab-how-it-works" style="color: #ffffff">
                <span class="">How it works</span>
            </div>
        </div>
    </div>
</div>
<section class="panel entry-content" id="tab-how-it-works" data-animation="fadeIn" style="background: #f2f2f2; color: #383838">
    <div class="infi-content-wrapper">
        <p>
            <strong>
                <span style="color: #094b77; font-size: x-large">
                    <span style="caret-color: #094b77">Choose your course and enrol</span>
                </span>
            </strong>
        </p>
        <p>
            Get started by selecting your course from our
            selection of industry qualifications. Each course is
            crafted by experts in their field and created to the
            highest standards. Select which courses you need and
            purchase multiples if you are buying qualifications
            for more than one person.
        </p>
        <p>
            Quickly enrol using our one page checkout. Here you
            can enter all of your details and create your
            account with your very own password. After your
            purchase you can login to your account and access
            your course.
        </p>
        <p>
            <strong>
                <span style="color: #094b77; font-size: x-large">
                    <span style="caret-color: #094b77">Work through your course</span>
                </span>
            </strong>
        </p>
        <p>
            Each course is broken down into manageable sections.
            Work through these at your own pace and learn about
            each of the topics in the course. We use images,
            written information, diagrams and other resources to
            help you get to grips with the content with no
            hassle.
        </p>
        <p>
            Our courses are all designed to allow progress
            without any assistance but our support staff can be
            contacted if you do need us.
        </p>
        <p>
            <strong>
                <span style="color: #094b77; font-size: x-large">
                    <span style="caret-color: #094b77">Complete the final quiz</span>
                </span>
            </strong>
        </p>
        <p>
            Every course is assessed through a multiple choice
            quiz. These quizzes use a bank of questions that
            have multiple options and you need to choose the
            correct one. You need to answer a specific number of
            questions correctly to pass the course and get your
            certificate.
        </p>
        <p>
            If you don’t pass first time it is no problem. You
            can attempt the quiz as many times as you need until
            you pass so there is nothing to worry about.
        </p>
        <p>
            <strong>
                <span style="color: #094b77; font-size: x-large">
                    <span style="caret-color: #094b77">Get your certificate</span>
                </span>
            </strong>
        </p>
        <p>
            As soon as you finish the course, we would send your certificate to your email. Your
            certificate includes the
            course you have studied, your name, the date of
            completion and a verification number that can be
            used by future employers to verify that you passed
            your course.
        </p>
    </div>
</section>