<div class="player-header ">
    <div class="player-header__row">
        <div class="player-header__left">
            <a href="https://alison.com/" id="alison_logo" class="logo"><img src="/static/course/module_files/alison-free-courses_002.svg" alt="Free Online Courses, Classes and Tutorials"></a>
        </div>
        <div class="player-header__center">
            <h1 class="page_title">
                <span class="module_bold">Module
                    <span class="current_module">1</span>:</span>
                {{module_title}}
            </h1>
            <span class="icon-thick-chevron-down"></span>
            <div class="module-nav module-nav--hide" style="display: none">
                <div class="module-nav__inner">
                    <div class="module-nav__content">
                        <div class="module-nav__modules modules-scrollbar mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                            <div id="mCSB_1" class="mCustomScrollBox mCS-3d mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                    <div class="module-nav__module module-nav__module--open ">
                                        <a href="https://alison.com/topic/learn/135441/fire-prevention-learning-outcomes" class="module-nav__module-title active ">
                                            <span></span>
                                            <h3>Module 1: Fire Prevention
                                                <span class="icon-thick-chevron-up"></span>
                                            </h3>
                                        </a>
                                        <div class="module-nav__topics mCustomScrollbar _mCS_2 mCS_no_scrollbar" style="max-height: 515px;">
                                            <div id="mCSB_2" class="mCustomScrollBox mCS-3d mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                                <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                                    <a data-id="135441" title="Fire Prevention - Learning Outcomes" href="https://alison.com/topic/learn/135441/fire-prevention-learning-outcomes" class="module-nav__topic active completed_topic ">
                                                        <span></span>
                                                        <h4>
                                                            Fire Prevention - Learning Outcomes</h4>
                                                    </a>
                                                    <a data-id="135442" title="An Introduction to Fire Safety and Prevention" href="https://alison.com/topic/learn/135442/an-introduction-to-fire-safety-and-prevention" class="module-nav__topic active completed_topic current ">
                                                        <span></span>
                                                        <h4>
                                                            An Introduction to Fire Safety and Prevention</h4>
                                                    </a>
                                                    <a data-id="135443" title="Fire Preventative Measures" href="https://alison.com/topic/learn/135443/fire-preventative-measures" class="module-nav__topic active completed_topic ">
                                                        <span></span>
                                                        <h4>
                                                            Fire Preventative Measures</h4>
                                                    </a>
                                                    <a data-id="135444" title="Fire Protection Systems" href="https://alison.com/topic/learn/135444/fire-protection-systems" class="module-nav__topic ">
                                                        <span></span>
                                                        <h4>
                                                            Fire Protection Systems</h4>
                                                    </a>
                                                    <a data-id="135445" title="Fire Prevention - Lesson Summary" href="https://alison.com/topic/learn/135445/fire-prevention-lesson-summary" class="module-nav__topic active completed_topic ">
                                                        <span></span>
                                                        <h4>
                                                            Fire Prevention - Lesson Summary</h4>
                                                    </a>
                                                </div>
                                                <div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-3d mCSB_scrollTools_vertical" style="display: none;">
                                                    <div class="mCSB_draggerContainer">
                                                        <div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 70px; top: 0px;">
                                                            <div class="mCSB_dragger_bar" style="line-height: 70px;"></div>
                                                        </div>
                                                        <div class="mCSB_draggerRail"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="module-nav__module module-nav__module--closed ">
                                        <a href="https://alison.com/topic/learn/135446/emergency-evacuation-learning-outcomes" class="module-nav__module-title ">
                                            <span></span>
                                            <h3>Module 2: Emergency Evacuation
                                                <span class="icon-thick-chevron-up"></span>
                                            </h3>
                                        </a>
                                        <div class="module-nav__topics mCustomScrollbar _mCS_3 mCS_no_scrollbar" style="display: none; max-height: 515px;">
                                            <div id="mCSB_3" class="mCustomScrollBox mCS-3d mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                                <div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                                    <a data-id="135446" title="Emergency Evacuation - Learning Outcomes" href="https://alison.com/topic/learn/135446/emergency-evacuation-learning-outcomes" class="module-nav__topic active completed_topic ">
                                                        <span></span>
                                                        <h4>
                                                            Emergency Evacuation - Learning Outcomes</h4>
                                                    </a>
                                                    <a data-id="135447" title="Planning and Emergency Equipment" href="https://alison.com/topic/learn/135447/planning-and-emergency-equipment" class="module-nav__topic active completed_topic ">
                                                        <span></span>
                                                        <h4>
                                                            Planning and Emergency Equipment</h4>
                                                    </a>
                                                    <a data-id="135448" title="Evacuation Plan" href="https://alison.com/topic/learn/135448/evacuation-plan" class="module-nav__topic active completed_topic ">
                                                        <span></span>
                                                        <h4>
                                                            Evacuation Plan</h4>
                                                    </a>
                                                    <a data-id="135449" title="Emergency Procedures" href="https://alison.com/topic/learn/135449/emergency-procedures" class="module-nav__topic ">
                                                        <span></span>
                                                        <h4>
                                                            Emergency Procedures</h4>
                                                    </a>
                                                    <a data-id="135450" title="Emergency Evacuation - Lesson Summary" href="https://alison.com/topic/learn/135450/emergency-evacuation-lesson-summary" class="module-nav__topic ">
                                                        <span></span>
                                                        <h4>
                                                            Emergency Evacuation - Lesson Summary</h4>
                                                    </a>
                                                </div>
                                                <div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-3d mCSB_scrollTools_vertical" style="display: none;">
                                                    <div class="mCSB_draggerContainer">
                                                        <div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 70px; top: 0px;">
                                                            <div class="mCSB_dragger_bar" style="line-height: 70px;"></div>
                                                        </div>
                                                        <div class="mCSB_draggerRail"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="module-nav__module module-nav__module--closed ">
                                        <a href="https://alison.com/topic/learn/135451/health-and-safety-fire-safety-training-and-planning-course-assessment" class="module-nav__module-title ">
                                            <span></span>
                                            <h3>Course assessment
                                                <span class="icon-thick-chevron-up"></span>
                                            </h3>
                                        </a>
                                        <div class="module-nav__topics mCustomScrollbar _mCS_4 mCS_no_scrollbar" style="display: none; max-height: 515px;">
                                            <div id="mCSB_4" class="mCustomScrollBox mCS-3d mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                                <div id="mCSB_4_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                                    <a data-id="135451" title="Health and Safety - Fire Safety Training and Planning: Course Assessment" href="https://alison.com/topic/learn/135451/health-and-safety-fire-safety-training-and-planning-course-assessment" class="module-nav__topic ">
                                                        <span></span>
                                                        <h4>
                                                            Health and Safety - Fire Safety Training and Planning:
                                                                                                                                                                                                Course Assessment</h4>
                                                    </a>
                                                </div>
                                                <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-3d mCSB_scrollTools_vertical" style="display: none;">
                                                    <div class="mCSB_draggerContainer">
                                                        <div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 70px; top: 0px;">
                                                            <div class="mCSB_dragger_bar" style="line-height: 70px;"></div>
                                                        </div>
                                                        <div class="mCSB_draggerRail"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-3d mCSB_scrollTools_vertical" style="display: none;">
                                    <div class="mCSB_draggerContainer">
                                        <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 70px; top: 0px;">
                                            <div class="mCSB_dragger_bar" style="line-height: 70px;"></div>
                                        </div>
                                        <div class="mCSB_draggerRail"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-progress">
                <div class="user-progress--inner">
                    <div class="user-progress--bar">
                        <div data-width="80" class="user-progress--fill" style="width: 80%;"></div>
                    </div>
                </div>
                <div class="user-progress--percentage"></div>
            </div>
        </div>
        <div class="player-header__right">
            <!-- Module Progress -->
            <!-- <div class="player-header__progress">
                <h3>Module Progress</h3>
                <span class="module-progress">
                    <span>80%</span>
                    Complete</span>
                <div class="user-progress">
                    <div class="user-progress--inner">
                        <div class="user-progress--bar">
                            <div data-width="80" class="user-progress--fill" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div class="user-progress--percentage"></div>
                </div>
            </div> -->
            <span class="q-aff" data-is_player="true">
                <span class="coin">
                    <span class="front"></span>
                    <span class="back"></span>
                </span>
                <div class="aff">
                    <div class="aff__message aff__message--not-affiliate" style="display:none;">
                        <span class="icon-cross2 aff__close"></span><img class="lazyload" data-src="/html/site/img/affiliates/not-affiliate.svg">
                        <div class="aff__text">
                            <p>
                                Become an Alison Affiliate in one click, and start earning money by sharing any page
                                                                                                            on the Alison website.
                            </p>
                            <a class="aff__btn" href="https://alison.com/affiliates/learn-to-earn">Become an Affiliate</a>
                        </div>
                    </div>
                </div>
            </span>
            <div class="logo-container">
                <span href="" class="user__avatar"><img src="/static/course/module_files/36383682.png" alt="User" class="learning-environment-avatar learning-environment-avatar--sm" style=""></span>
            </div>
        </div>
    </div>
</div>
