{% extends 'course_data/new/course_layout.html' %}
{% block wpb_wrapper %}
    <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <h1 style="color: #ffffff; text-align: left" class="vc_custom_heading">
                          {{course.title}}
                        </h1>
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p>
                                    <span style="color: #ffffff; font-size: 18px">Welcome to your course!</span>
                                </p>
                                <p>
                                    <span style="color: #ffffff; font-size: 18px">Below you will see the units to be covered on this course.
                                                          You must work through these in order before tackling the quiz
                                                          at the end of each unit. Once you completed each section and
                                                          have passed each of the quizzes you will be able to download
                                                          your certificate.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div id="learndash_course_content" class="learndash_course_content">
        <h4 id="learndash_course_content_title">Course Content</h4>


        <div id="learndash_lessons" class="learndash_lessons">
            <div id="lesson_heading">
                <span>Units</span>
                <span class="right">Status</span>
            </div>

            <div id="lessons_list" class="lessons_list">
                {% for i in range(modules| length) %}
                    <div class="post-151805 is_not_sample">
                        
                        <div class="list-count">{{i+1}}</div>
                        <h4>
                            <!-- class will be completed, notcompleted -->
                            <a class="
                            {% if next_module_id > modules[i].ID or course_completed %}
                            completed
                            {% else %}
                            notcompleted
                            {% endif %}
                            " href="/course/{{course.ID}}/module/{{i+1}}">
                                {{ modules[i].title }}
                            </a>
                        </h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
