{% extends 'course_data/new/course_layout.html' %}

{% block wpb_wrapper %}
<link rel="stylesheet" href="/static/care_course.css">
<div class="wpb_wrapper">
  <div
    class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1540220368945 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"
  >
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h1
            class="vc_custom_heading"
            style="color: #ffffff; text-align: left"
          >
            {{module.title}}
          </h1>
          <div class="wpb_text_column wpb_content_element">
             <div class="wpb_wrapper">
              <p>
                <span style="color: #ffffff; font-size: 20px"
                  >
Below you will see the sections for this unit which you must work through. You must work through these in order from top to bottom. Once you have read a section you can click ‘Mark Complete’ to move on to the next.
                  </span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block content %}
<div class="learndash_lesson_topics_list" id="learndash_lesson_topics_list">
  <div class="learndash_topic_dots type-list" id="learndash_topic_dots-151805">
    <strong>Unit Sections</strong>
    <ul>
        {% for i in range(sub_modules|length) %}
      <li class="nth-of-type-odd">
        <span class="topic_item">
          <!-- a.class topic-completed, topic-notcompleted -->
          <a
            class="topic-completed"
            href="/course/{{course.ID}}/module/{{module_num}}/sub_module/{{i+1}}"
            title="{{sub_modules[i].title}}"
          >
            <span>{{sub_modules[i].title}}</span>
          </a>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Quiz Part -->
{#
<div class="learndash_quizzes" id="learndash_quizzes">
  <div id="quiz_heading">
    <span>Quizzes</span><span class="right">Status</span>
  </div>
  <div class="quiz_list" id="quiz_list">
    <div class="is_not_sample" id="post-155110">
      <div class="list-count">1</div>
      <h4>
        <a class="{{topic_progress[unit_id-1][-1]}}" href="/lms/care-certificate/unit/{{unit_id}}/quiz"
          >{{topics[unit_id-1][-1].title}}</a
        >
      </h4>
    </div>
  </div>
</div>
#}
  <!-- Next and Previous Links -->

<p id="learndash_next_prev_link">
    {% if module_num-1 != 0 %}
        <a class="prev-link" href="/course/{{course.ID}}/module/{{module_num-1}}" rel="prev"><span class="meta-nav">←</span> Previous Unit</a>
    {% endif %}
    {% if module_num < total_modules %}
        <a class="next-link" href="/course/{{course.ID}}/module/{{module_num+1}}" rel="next">Next Unit <span class="meta-nav">→</span></a>
    {% endif %}
</p>

{% endblock %}
