<div class="widget-area sidebar is-left-sidebar grid-25 tablet-grid-25 mobile-grid-100 grid-parent pull-75 tablet-pull-75" id="left-sidebar">
    <div class="inside-left-sidebar">
        <div class="ca-sidebar" id="ca-sidebar-37482">
            <aside class="ca-widget widget inner-padding widget_ldcourseprogress" id="ldcourseprogress-5">
                <h2 class="widget-title">Progress</h2>
                <dd class="course_progress" title="{{ sidebar['completed_topics'] }} out of {{ sidebar['total_topics'] }} steps completed">
                    <div class="course_progress_blue" style="width: {{ sidebar['width'] }}%"></div>
                </dd>
            </aside>
            <aside class="ca-widget widget inner-padding widget_ldcoursenavigation" id="widget_ldcoursenavigation-5">
                <h2 class="widget-title">Navigation</h2>
                <div class="course_navigation" data-widget_instance='{"course_id":151804,"widget_instance":{"title":"Navigation","show_lesson_quizzes":true,"show_topic_quizzes":false,"show_course_quizzes":true,"show_widget_wrapper":true,"current_lesson_id":0,"current_step_id":0 }}' id="course_navigation">
                    <div class="ld-course-navigation-widget-content-contaiiner">
                        <div
                            class="learndash_navigation_lesson_topics_list" id="sidebar_lessons">

                            <!-- COURSE START -->
                            {% for i in range(modules| length) %}
                                {% if next_module_id+1 > modules[i].ID or course_completed %}
                                <div class="inactive" id="lesson_list-{{ i }}">
                                    <div class="list_arrow collapse flippable lesson_completed" onclick='return flip_expand_collapse("#lesson_list", {{ i }});'></div>
                                    <div class="list_lessons">
                                        <div class="lesson">
                                            <a href="/course/{{course.ID}}/module/{{ modules[i].module_num}}">{{ modules[i].title }}</a>
                                        </div>
                                        <div class="flip learndash_topic_widget_list" id="learndash_topic_dots-151805" style="display: none">
                                            <ul>
                                                {% for x in topics[modules[i].ID] %}
                                                        <li>
                                                            <span class="topic_item">
                                                                <a class="
                                                                {% if x.ID <= progress %}
                                                                topic-completed
                                                                {% else %}
                                                                topic-notcompleted
                                                                {% endif %}
                                                                "
                                                                href="/course/{{x.course_id}}/module/{{x.module_num}}/sub_module/{{x.sub_num}}"  title="{{ x.title }}">
                                                                    <span>{{ x.title }}</span>
                                                                </a>
                                                            </span>
                                                        </li>
                                                        <!-- <li class="quiz-item">
                                                            <span class="topic_item">
                                                                <a class="topic-" href="/lms/care-certificate/unit/123/quiz" title="Topic Title">
                                                                    <span>Topic Title</span>
                                                                </a>
                                                            </span>
                                                        </li> -->
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <!-- COURSE END -->

                        </div>
                        <!-- Closing <div class='learndash_navigation_lesson_topics_list'> -->
                    </div>
                </div>
                <!-- Closing <div id='course_navigation'> -->
            </aside>
        </div>
    </div>
</div>

{#
<script>
    var unit_progress = {{ Markup(unit_progress) }}
    var tracker = 0;
    for (var i = 0; i < unit_progress.length; i++) {
        var p = unit_progress[i]
        if (p == "notcompleted") {
            var lesson_list = document.getElementById("lesson_list-" + i)
            // lesson_list.onclick = ()=> {
            // return false
            // }
            if (tracker > 0) 
                lesson_list.style.display = "none";
            
            tracker++;

        }
    }
</script>
#}