{% extends "course_info_layout.html" %}

{% block content %}
<div class="site grid-container container hfeed grid-parent" id="page">
    <div class="site-content" id="content">
        <div class="contentArea grid-parent mobile-grid-100 push-25 grid-75 tablet-push-25 tablet-grid-75" id="primary">
            <main class="site-main" id="main">
                <article class="post-9435 product type-product status-publish" id="post-8"
                    itemtype="https://schema.org/CreativeWork" itemscope="">
                    <div class="inside-article">
                        <div class="entry-content" itemprop="text">
                            <nav class="woocommerce-breadcrumb" aria-label="Breadcrumb">
                                Home&nbsp;/&nbsp;Safety&nbsp;/&nbsp;Driver Safety Awareness Training</nav>
                            <div class="woocommerce-notices-wrapper"></div>
                            <div id="product-8" class="product">
                                <div class="summary entry-summary">
                                    <div class="woo-product-gallery-slider images">
                                        <img width="500" height="500" src="../../../static/pictures/driverSafety.jpeg" class="attachment-shop_single"
                                            alt="Driver Safety Awareness Training" />
                                    </div>
                                    <div class="summary entry-summary">
                                        <h1 class="product_title entry-title">Driver Safety Awareness Training</h1>
                                        <p class="price"><span class="woocommerce-Price-amount amount"><bdi><span
                                                        class="woocommerce-Price-currencySymbol">$</span>{{price}}</bdi></span>
                                        </p>
                                        <div class="woocommerce-product-details__short-description">
                                            <p>Empower yourself with the knowledge and skills to drive safely on the
                                                road. From pre-journey checks to mastering road signals.</p>
                                        </div>
                                        <div class="cart">
                                            <button type="submit" class="single_add_to_cart_button button alt"
                                                {{disabled}}>Checkout</button>
                                        </div>
                                    </div>
                                    <section class="elegant-tabs-container">
                                        <div class="et-content-wrap">
                                            <section class="content-current" id="tab-description"
                                                style="background:#f2f2f2; color:#383838;">
                                                <div class="infi-content-wrapper">
                                                    <h2>Product Description</h2>
                                                    <p>This course is your guide to becoming a confident and responsible
                                                        driver. We break down the complexities of Canada traffic laws, road
                                                        signs and pre-journey checks, equipping you with the knowledge
                                                        to handle any situation that may arise.</p>
                                                    <p>You will earn 15 CPD points on completion of the course, this
                                                        course will take around 1.5-3 hours to complete and the
                                                        certificate will last for two years.</p>
                                                </div>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                </article>
            </main>
        </div>
        {% include "course_data/info-sidebar.html" %}
    </div>
</div>
{% endblock %}
