<style>
    .course_img {
        width: 100%;
    }

    .courses_list {
        display: flex;
        flex-direction: row;
        overflow: auto;
    }

    @media screen and (max-width: 575px) {
        .courses_list {
            flex-direction: column;
        }
    }
</style>
<div class="um-profile-body courses courses-default" id="course_div" style="display: none;">

    <p style="text-align: center;"></p>
    <h2 style="font-size: 34px;color: #094b77;text-align: center" class="vc_custom_heading">Your courses</h2>
    <p></p>
    <p style="text-align: center;">Find all the courses you are enrolled on below.</p>
    <p style="text-align: center;"></p>
    <div class="learndash-wrap">
        <div id="ld-course-list-content-aa7450cd4c40f558364aa7b88417fb2b" class="ld-course-list-content" data-shortcode-atts="{&quot;orderby&quot;:&quot;title&quot;,&quot;order&quot;:&quot;ASC&quot;,&quot;mycourses&quot;:&quot;enrolled&quot;,&quot;progress_bar&quot;:&quot;true&quot;,&quot;col&quot;:&quot;4&quot;,&quot;course_grid&quot;:&quot;true&quot;}">
            <div class="ld-course-list-items row courses_list">
                <!-- LearnDash Course Grid v1 -->
                {% for c in courses %}
                <div class="ld_course_grid col-sm-6 col-md-3 ldx-grid-course-complete">
                    <article class="thumbnail course post-151804 sfwd-courses type-sfwd-courses status-publish has-post-thumbnail hentry ld_course_category-care">

                        <a href="#/course/{{c.ID}}" rel="bookmark">
                            <img fetchpriority="high" decoding="async" width="300" height="200" src="/static/course/{{c.html}}/main.webp" class="attachment-medium size-medium wp-post-image course_img" alt="">
                        </a>

                        <div class="caption">
                            <h4 class="entry-title">{{c.title}}</h4>
                        </div>
                        <!-- .entry-header -->
                    </article>
                    <!-- #post-## -->
                </div>
                {% endfor %}
                <!-- .ld_course_grid -->
            </div>
        </div>
    </div>
    <div class="um-clear"></div>
    <div class="clear"></div>
</div>