<div class="um-profile-body main main-default" id="profile_div">

    <p class="um-profile-note">
        <i class="um-faicon-frown-o"></i>
        <span>Your
            profile is looking a little empty. Why
            not
            <a href="https://cpdonline.co.uk/my-account/98127/?um_action=edit">add</a>
            some information!</span>
    </p>
    <div class="um-row _um_row_1 " style="padding: 0px 0px 0px 0px;margin: 0px 0px 30px 0px;border-width: 0px 0px 0px 0px;border-style: solid;border-radius: 0px;">
        <div class="um-col-121">
            <div id="um_field_18895_first_name" class="um-field um-field-text  um-field-first_name um-field-text um-field-type_text" data-key="first_name">
                <div class="um-field-label">
                    <label for="first_name-18895">First
                        Name</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    <div class="um-field-value" id="first_name-18895">
                        {{ user.f_name }}</div>
                </div>
            </div>
        </div>
        <div class="um-col-122">
            <div id="um_field_18895_last_name" class="um-field um-field-text  um-field-last_name um-field-text um-field-type_text" data-key="last_name">
                <div class="um-field-label">
                    <label for="last_name-18895">Last
                        Name</label>
                    <div class="um-clear"></div>
                </div>
                <div class="um-field-area">
                    <div class="um-field-value" id="last_name-18895">
                        {{ user.l_name }}
                    </div>
                </div>
            </div>
        </div>
        <div class="um-clear"></div>
        <div class="um-col-1">
            <div id="um_field_18895_shipping_address_1" class="um-field um-field-text  um-field-shipping_address_1 um-field-text um-field-type_text" data-key="shipping_address_1">
                <div class="um-field-area">
                    <div class="um-field-value" id="shipping_address_1-18895">
                        {{ user.addr1 }}</div>
                </div>
            </div>
            <div id="um_field_18895_shipping_address_2" class="um-field um-field-text  um-field-shipping_address_2 um-field-text um-field-type_text" data-key="shipping_address_2">
                <div class="um-field-area">
                    <div class="um-field-value" id="shipping_address_2-18895">
                        {{ user.addr2 }}</div>
                </div>
            </div>
            <div id="um_field_18895_shipping_city" class="um-field um-field-text  um-field-shipping_city um-field-text um-field-type_text" data-key="shipping_city">
                <div class="um-field-area">
                    <div class="um-field-value" id="shipping_city-18895">
                        {{ user.city }}</div>
                </div>
            </div>
            <div id="um_field_18895_shipping_postcode" class="um-field um-field-text  um-field-shipping_postcode um-field-text um-field-type_text" data-key="shipping_postcode">
                <div class="um-field-area">
                    <div class="um-field-value" id="shipping_postcode-18895">
                        {{ user.postcode }}</div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="form_id" id="form_id_18895" value="18895">

    <p class="um_request_name">
        <label for="um_request_18895">Only fill in
            if you are not human</label>
        <input type="hidden" name="um_request" id="um_request_18895" class="input" value="" size="25" autocomplete="off"></p>


    <div class="clear"></div>
</div>