:root {
    --grey: rgb(48, 48, 48);
    --green: rgb(0, 107, 0);
}

body {
    margin: 10px;
    /* padding: 10px; */
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--grey);
    border: 2px solid gray;
    padding: 5px 10px;
    cursor: pointer;
}

table {
    width: 100%;
}

thead {
    background-color: var(--grey);
    color: white;
}

h1,
h3,
td,
th {
    padding: 6px;
    text-align: center;
}

.done {
    color: white;
    background-color: var(--green);
}

.not-done {
    color: white;
    background-color: brown;
}

button.open_progress {
    width: 100%;
    height: 40px;
    border-radius: 100px;
}

#progress_container {
    width: 90%;
}

#user_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

#user_info label {
    font-weight: bold;
}

#close_div {
    text-align: right;
    margin-top: 20px;
}

@media screen and (max-width: 550px) {
    #user_info {
        flex-direction: column;
        align-items: center;
    }
}